<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ page.title }}</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <div class="row" style="display: flex;justify-content: space-between;">
          <h1 style="display: inline; margin-left: 0px;"> {{ page.title }}</h1>
          <span>
            <div class=column>
              <div class=row>
                <h2 style="margin-top:0">Guillaume Quéré</h2>
              </div>
              <div class="row">
                </br>
              </div>
              <div class="row">
                <a href="https://github.com/gquere">GitHub</a>
              </div>
              <div class="row">
                <a href="https://www.linkedin.com/in/guillaume-qu%C3%A9r%C3%A9-90a6187b/">LinkedIn</a>
              </div>
              <div class="row">
                <a href="https://www.root-me.org/das">Root-Me</a>
              </div>
            </div>
          </span>
        </div>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {% include toc.html html=content %}
        {{ content }}
      </section>
    </div>

    <footer>
        <div class="container">
        </div>
    </footer>

  </body>
</html>
